# Node
node_modules/
npm-debug.log

# Capacitor
.capacitor/

# Android
android/local.properties
android/.gradle/
android/build/
android/app/build/

# Build outputs
dist/
build/

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# Logs
*.log
